* {
  background-color: rgb(23, 22, 63);
  color: white;
}

/* Home Page */
.home {
  font-size: 53px;
  color: white;
  margin: 100px 200px 100px 200px;
  text-align: center;
}

/* Game Page */
body {
  text-align: center;
  font-family: -apple-system, sans-serif;
}

.gameContainer {
  width: 1060px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

button {
  background: #d1a82d;
  border-radius: 4px;
  font-weight: 700;
  padding: 7px 15px;
  margin-left: 8px;
  cursor: pointer;
}

button:hover {
  background: #d36b1b;
}

button:focus {
  outline: 0;
}

#cards {
  width: 1060px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 160px;
  height: 160px;
  margin-bottom: 20px;
}

.card:not(:nth-child(6n)) {
  margin-right: 20px;
}